doctype html
head
   style.
      body{
      background-color:black;
      font-weight:Poppers;
      color:white;
      text-align:center;
      padding-top:100px;
      font-size:50px;
      }
   h1 Hellooo, we are creating.. Your happiness
   h2 You are here for select what kind of music do you love...<br>Have a great day 
   h3 In this websight u can listen all type of languages songs,
   small No one can own this script.Read only